deh/*
!deh/.gitkeep
iwad/*
!iwad/doom1.wad
!iwad/freedoom1.wad
!iwad/freedoom2.wad
!iwad/freedm.wad
pwad/*
!pwad/.gitkeep

# build artifacts
source/**/*.o
source/**/*.elf
source/**/*.prx
source/src/EBOOT.PBP
source/xmb/PARAM.SFO
source/xmb/.snd0.wav

# audio project sources, fetched tools
source/xmb/*.flac
source/tools/ATRACTool-Rel-Portable/

# user data, local scripts
saves/
logs/
.doomrc
