# DOOM PSP launcher config

[video]
output = lcd  # lcd | tv
lcd_res = 480x272  # 480x272 | 368x272 | 320x240
lcd_vsync = 0
lcd_widescreen = 0
lcd_lowdetail = 0
tv_res = 720x480  # 720x480 | 704x448 | 640x400
tv_vsync = 0
tv_interlaced = 1
tv_widescreen = 0
tv_lowdetail = 0
tv_cx = 0
tv_cy = 0

[sound]
sfx = 1
music = 1
music_rate = 140  # 140 | 70 | 35

[system]
cpu = default  # default | 133 | 222 | 266 | 300 | 333

[files]
iwad = iwad/doom1.wad
pwad1 = 
pwad2 = 
pwad3 = 
pwad4 = 
deh1 = 
deh2 = 
deh3 = 
deh4 = 

[game]
mode = coop  # coop | deathmatch | altdeath
skill = 3  # 1 | 2 | 3 | 4 | 5
map = 1
nomonsters = 0
respawn = 0
fast = 0
turbo = 0
timer = 0
map_on_hud = 0
rotate_map = 0
record_demo = 0
play_demo = 0
time_demo = 0
force_demo = 0

[controls]
analog_cx = 129
analog_cy = 122
analog_minx = 0
analog_miny = 0
analog_maxx = 255
analog_maxy = 255
swap_move = 0
swap_turn = 0
always_run = 0

[cheats]
slot1 = 3
slot2 = 12
slot3 = 2
slot4 = 1
slot5 = 9
slot6 = 11
slot7 = 7
slot8 = 8
slot9 = 10
slot10 = 5
slot11 = 6
slot12 = 4

[network]
extratic = 0
